@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0; /* Include padding reset */
  box-sizing: border-box; /* Ensure padding and border are within the element's width */
  scroll-behavior: smooth;
}

body {
  cursor: url("./images/cursor.png"), auto;
  overflow-x: hidden; /* Hide horizontal overflow */
}

/* Example for a responsive container */
.container {
  width: 100%; /* Ensure full viewport width */
  max-width: 1200px; /* Limit max width to avoid overflow */
  margin: auto; /* Center container */
  padding: 10px; /* Ensure padding is within the container */
  overflow-x: hidden; /* Prevent horizontal overflow */
}
